html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;

  /* Give app full page to work with */
  height: 100vh;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
** {
  box-sizing: border-box;
}

.dropbtn {
  
  border: none;
  font-size: 17px; 
}

.drobdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  background: white;
  min-width: 1600px;
  position: absolute;
  z-index: 1;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  text-align: left;
  padding: 50px;
  left:200px
  
}

.dropdown-content p {
  
  text-align: left;
  padding: 10px;
  padding-left: 260px;
  
}

.dropdown-content a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 17px;
  padding-left: 100px;
  font-size: 18px;
}

.dropdown-content a:hover {
  background: #ddd;
}

.dropdown:hover .dropdown-content {
  display:flex;
}

.dropdown:hover .dropbtn {
  border: "1px solid black";
  padding: 5px;
}
.dropdown:hover .point {
  border: "1px solid black";
  padding: 5px;
}
.dropdown:hover .subpoint {
  display:block;
}
.point{
  margin-top: 30px;
  margin-left: 260px;
}
.point:hover{
  color: blue;
  padding: 10px;
  font-size: large;
  border-left: 5px solid blue;
  height: 30px;
  
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
