.firsttop{
    /* border: 1px solid red; */
    display: flex;
    height: 580px;
    width: 100%;
    padding: 30px;
}

.first{
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 10px;

}

.firstinner{
    display: flex;
    flex-direction: column;
   
    width: 30%;
    gap: 40px;

}

.secondinner{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: -20px;
   margin-top: -430px;
   margin-left: 52%;
   background-color: transparent;
   transform: rotate(-28deg);
   border-radius: 70px;
}

.secondinner>img{
    width: 370px;
    /* border-radius: 70px 0px; */
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    transform: rotate(28deg);
   
}



/* First homeCarousel below */

.firsthometop{
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    height: 100px;

}

.firsthome>img{
    display: flex;
    width: 70px;
    height: 40px;
}